<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Голосование Онлайн</title>
      <link rel="stylesheet" href="/style.css" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="script.js" defer></script>
   </head>

   <body>
      <div class="wrapp">
         <div class="header-wrapp0">
            <div class="header-wrapp1">
               <h1>
                  ОНЛАЙН-ГОЛОСОВАНИЕ ЗА ПОПРАВКИ В КОНСТИТУЦИЮ РФ
               </h1>
            </div>
         </div>
         <div class="main-wrapp0">
            <div class="main-wrapp1">
               <h2>Спасибо за Ваш голос</h2>
               <hr>
               <p>
                  Ваш голос был учтен. Результаты будут оглашены 05.07.2020 на сайте России.
               </p>
               <h4>Хотите проголосовать еще раз? По большому счету, вообще разницы никакой</h4>
               <form id="form1" class="voting-wrapp" action="/" method="GET"></form>
            </div>
         </div>
         <button class="vote-btn" id="vote-btn" form="form1" type="submit">ПРОГОЛОСОВАТЬ ЕЩЕ РАЗ</button>
      </div>
   </body>

</html>